@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p>Lo Siento, no tiene autorizacion para ingresar a esta area SIAP-EMCO.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>



