@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider autenticationStateProvider

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />
<AuthorizeView>
    <NotAuthorized>
        <MudAppBar Elevation="4" Color="Color.Primary">
            <MudSpacer />
        </MudAppBar>
        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-content-center" Style="height:100vh;">
            <MudPaper Elevation="25" Class="pa-8" Style="width: 500px;">
                @Body
            </MudPaper>
        </MudContainer>
    </NotAuthorized>
    <Authorized>
        <MudLayout>
            <MainBody>
                @Body
            </MainBody>
        </MudLayout>
    </Authorized>
</AuthorizeView>
@code {

}
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
